body {
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: fit-content;
  margin: auto;
  margin-top: 6%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
section h2 {
  color: rgb(27, 27, 27);
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
section p {
  margin-top: 0px;
  color: rgb(175, 175, 175);
}
section img {
  border-radius: 10px 10px 0px 0px;
}
.flex1 {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 270px;
  background-color: rgb(234, 235, 240);
  padding: 5px 20px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.flex1 a {
  align-self: center;
  transition: 1s;
  cursor: pointer;
}
.flex1 a:hover {
  color: rgb(85, 85, 201);
}
.flex2 {
  display: flex;
  gap: 20px;
}
.flex3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex2 img {
  border-radius: 100px;
}
.btn2 {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 6%;
  margin-bottom: 2px;
  font-size: 15px;
  color: gray;
  font-weight: bold;
  transition: 1s;
  cursor: pointer;
}
.btn2:hover {
  color: rgb(0, 0, 0);
}
.btn1 {
  width: 80%;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(56, 42, 229);
  transition: 1s;
  cursor: pointer;
}
.btn1:hover {
  background-color: rgb(85, 85, 201);
}
